<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About</a></li>
    <li class="nav-cs" role="menuitem"><a href="{{site.baseurl}}tag/cs/">Computer Science</a></li>
    <li class="nav-java" role="menuitem"><a href="{{site.baseurl}}tag/java/">Java</a></li>
    <li class="nav-iOS" role="menuitem"><a href="{{site.baseurl}}tag/iOS/">iOS</a></li>
    <li class="nav-archive" role="menuitem">
        <a href="/archive.html">All Posts</a>
    </li>
    <li class="nav-archive" role="menuitem">
        <a href="/author_archive.html">Tag별 Posts</a>
    </li>
</ul>